<!DOCTYPE html>

<html> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://cdn.tailwindcss.com/"></script>
        <title>{% block title %}{% endblock %} | Marketplace</title>
    </head>
    <body>
        <nav class="px-6 py-6 flex justify-between items-center border-b border-gray-200">
            <a href="/" class="text-xl font-semibold">Marketplace</a>
            <div class="space-x-6">
                
                <a href="{% url 'item:new' %}" class="text-gray-900 bg-gradient-to-br from-purple-500 to-yellow-100 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Novo item</a>
                
                <a href="{% url 'item:items' %}" class="text-white bg-gradient-to-r from-cyan-400 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Navegar </a>
                
                
                
                {% if request.user.is_authenticated %}
                <a href="{% url 'conversation:inbox' %}" class="text-gray-900 bg-gradient-to-r from-teal-300 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Mensagens</a>
                
                <a href="{% url 'dashboard:index' %}" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Painel</a>
                {% else %}
                
                <a href="{% url 'core:signup' %}" class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-100 hover:to-lime-100 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Sign up</a>
                
                <a href="{% url 'core:login' %}" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Log in</a>
                {% endif %}
            </div>
        </nav>
        <div class="px-6 py-6">
        {% block content %}
        {% endblock %}
        </div>

        <footer class="px-6 py-6 border-t border-gray-200">
            <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://www.linkedin.com/in/maria-lu%C3%ADsa-cavalcante-23ba82275/" class="hover:underline">Marketplace™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="{% url 'core:sobre' %}" class="mr-4 hover:underline md:mr-6 ">Sobre</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Política de Privacidade</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Termos de Uso</a>
        </li>
        <li>
            <a href="{% url 'core:contact' %}" class="hover:underline">Contato</a>
        </li>
    </ul>
    </div>
    </body>
</html>