{% extends 'core/base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}
       <p>O objetivo do projeto foi construir um marketplace online básico com o intuito de aprender sobre as funcionalidades do Django, como autenticação, autorização, modelos de banco de dados e gerenciamento de conteúdo. Foi gratificante focar no aprendizado do framework em si, em vez de lidar com várias tecnologias simultaneamente, como o MongoDB para banco de dados, Express para o servidor web, React para o front-end e Node.js como tempo de execução do servidor.</p>
       <p>Embora tenha sido um alívio poder me concentrar exclusivamente no aprendizado do Django durante este projeto, continuo me dedicando ao estudo de outras tecnologias, incluindo React e FastAPI.</p>
{% endblock %}